* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #5552e1;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #020202;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav  {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#hero {
    height: 750px;
    width: 96%;
    margin: auto;
    margin-bottom: 25px;
   display: flex;
   justify-content: center;
  
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}



.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5762a0;
}

.benefit {
    margin-bottom: 32px;
    color: #040404;
    flex-wrap: wrap;
}





.content2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9ba9d1;
    color: #0d0d0d;
    flex-wrap: wrap;
    
}

.content2 img {
    max-height: 200px;
}

.content2 h2 {
    margin-bottom: 20px;
    font-size: 36px;
    flex-wrap: wrap;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
}
.float-right:hover {
    transform: scale(1.5);
}
@media screen and (max-width: 992px) {
   
    /* Change the header color */
    header {
      background: #352fa6;
    }
  }
  @media screen and (max-width: 768px) {
   
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }